{% extends 'core/panels/panel.html' %}
{% load 
{% load distro_tracker_extras %}

{% block panel-body %}
<div class="list-group list-group-flush" id="action-needed-list" role="list">
    {% for item in panel.context.items %}
    <div class="card list-group-item" role="listitem">
        <details>
            <summary>
                <span class="chevron">{% toggle_chevron %}</span>
                {# The short description is allowed to contain some HTML markup #}
                {{ item.short_description|safe }}
                {% with severity=item.to_dict.severity %}
                <span class="label label-{{ severity.label_type }} pull-xs-right">{{ severity.name }}</span>
                {% endwith %}
            </summary>
            <div class="card-block">
                {{ item.full_description }}
            </div>
            <div class="small card-footer text-muted">
                Created: {{ item.created_timestamp|date:"Y-m-d" }}
                <span class="pull-xs-right">
                    Last update: {{ item.last_updated_timestamp|date:"Y-m-d" }}
                    {{  item.last_updated_timestamp|time:"H:i" }}
                </span>
            </div>
        </details>
    </div>
    {% endfor %}
</div>
{% endblock %}
